a.ui-icon-custom:after {
    content: '\2714';
    text-align: center;
    line-height: 24px;
}
a.ui-icon-custom.check:after {
    color: #2ad;
}
a.ui-icon-custom.uncheck:after {
    color: #333;
}

#wrapper {
    padding: 50px 150px 0px 150px;
    padding-top: 50px;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {
    width: 100%;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

#menu-toggle {
    display: none;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

    .inset {
        padding: 15px;
    }

}

.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
}

#wrapper{

}

.container{
    margin: 0px;
    width: 100%;
}

.white{
    color: #ffffff;
    margin-right: 3px;
}

.sidebar-nav li{
    left: 1px;
}

.profiel{
    border-radius: 150px;
    height: 45px;
    margin-top: 0px;
    border: 5px solid #808080;
}

/* BREADCRUMBS */
.breadcrumb{
    margin-top: 30px;
    margin-bottom: 0px;
}


/* SUBMENU BIJ DROPDOWN */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/* FOOTER */
#footer {
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    border-top: 3px solid #777777;
}

/* CSS*/
a { color: inherit; }

a:hover
{
    text-decoration:none;
    color: inherit;
}

/* COMMENTS */
.hidden{
    display:none;
}

.rowFullWidth
{
    margin-left: 0;
    margin-right: 0;
}

#footer{
    text-align: center;
}

/* COMMENTS */
.glyphicon-lg
{
    font-size:4em
}
.info-block
{
    border-right:5px solid #E6E6E6;margin-bottom:25px
}
.info-block .square-box
{
    width:100px;min-height:110px;margin-right:22px;text-align:center!important;background-color:#676767;
}
.info-block.block-info
{
    border-color:#20819e
}
.info-block.block-info .square-box
{
    background-color:#20819e;color:#FFF
}

h4{
    font-size: 21px;
}

.thumbimg{
    min-width: 100%;
    max-height: 240px;
}

.thumbBody{
    padding: 0px;
}

/* RESPONSIVE PORTFOLIO*/
/* Large desktop */
@media (min-width: 1200px) {
    .portfolioTitle{
        white-space: nowrap;
        overflow: hidden;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1050px) {
    .portfolioTitle{
        white-space: nowrap;
        overflow: hidden;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    .col-sm-3{
        width: 50%;
        display: inline-block;
    }
    .portfolioTitle{
        white-space: nowrap;
        overflow: hidden;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .col-sm-3{
        width: 100%;
        min-height: 100%;
        display: block;
    }
    .portfolioTitle{
        white-space: nowrap;
        overflow: hidden;
    }
}

/* COMMENT FORM */
.form-submit {
    display: none;
}
.comment-form-author,
.comment-form-email,
.comment-form-url {
    width: 50%;
}

code{
    white-space: pre-wrap;
}

.btnPost{
    white-space: nowrap;
    overflow: hidden;
}

.btnCategory{
    white-space: nowrap;
    overflow: hidden;
}

.btnComment{
    white-space: nowrap;
    overflow: hidden;
}

.btnUser{
    white-space: nowrap;
    overflow: hidden;
}